.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.body { 
  background: url('./modules/core/img/bg.gif'); 
  font-family: 'Roboto', "Myriad Pro",Arial,Helvetica, sans-serif !important;
  font-size: size: 12px;
}

.bloglike {
  margin-bottom: 1%;
}

article  {
  font-family:'Roboto', "Myriad Pro",Arial,Helvetica,sans-serif;
}

#blog-title { float: left; width: 80%; padding: 0;}
#blog-title h1 { padding: 0 0 20px 0; margin: 0;}
.pull-right.buttons { width: 20%; margin: 8px 0px 0 0px;}

.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 2PX 7px #CCC;
    font-family:  "Myriad Pro",Arial,Helvetica,sans-serif !important;
}
.post img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.post .post-body
{
    padding: 15px;
}

.post .post-body:hover {
   background-color: #FFFF66;
   transition: all  1.2s ease;
}

.post .author
{
    font-size: 11px;
    color: #737373;
    font-family: helvetica;
    padding: 25px 30px 20px;
    padding-left: 0;
}
.post .post-blog-title
{
    height: 70px;
    background-color: #3172AA;
    position: relative;
    overflow: hidden;
}
.post .post-blog-title img
{
    position: absolute;
}
.post .post-blog-title h2
{
   text-align: center;
   color: white;
   padding: 20px;
   /*font-family: 'Roboto' !important;*/
   font-style: normal;
   margin: 0;
   font-size: 20px;
}

pre.lead { font-family: initial; }

.postbox {
  margin-bottom: 2%;
}

b.likes {
  margin-left: 20px;
}

div.well h4 {
  margin-left: 15px;
}
.row {
  border-radius: 10px;
  /*background-color: orange;*/
  margin-top: 5%;
}
.lead {
   /*font-family: 'Roboto' !important;*/
   font-size: 14px;
   line-height: 25px;
}
.number {
  position:relative;
  padding:0;
  color: white;
  left: 30px;
  top: -9px;
}

.row .text-muted {
  font-family: helvetica;
  font-size: 11px;
}

/* creates the rectangle */
.number:before {
  content:"";
  position:absolute;
  top:9px;
  left:-25px;
  width:50px;
  height:50px;
  background:#C91F2C;
  /* css3 */
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

/* creates the triangle */
.number:after {
  content:"";
  position:absolute;
  top:9px;
  left:-8px;
  border:4px solid transparent;
  border-left-color:#C91F2C;
  height: 30px;
  border-width: 33px;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
.number span {
  position: absolute; 
  margin-top: 20px;
  margin-left: -10px;
  z-index: 10;
}


.commentContainer {
  width: 500px;
  margin-bottom: 30px; 
}

.commentBox {
  position:relative;
  width: 80%;
  height: 100%;
  left: 15%;
  margin:0;
  color:#fff;
  font-size: 12px;
  padding: 15px 20px;
  background:#5a8f00; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
  background:-moz-linear-gradient(#b8db29, #5a8f00);
  background:-o-linear-gradient(#b8db29, #5a8f00);
  background:linear-gradient(#b8db29, #5a8f00);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.commentBox pre {
   font-family: initial;
   color: white;
   background-color: transparent;
   border-radius: none;
   border: none;
   font-size: 14px;
   padding: 0;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.commOwner {
    margin:35px 0 2em 85px; 
    font-style:italic;
    font-size: 12px;
}

/* creates the triangle */
.commentBox:after {
  content:"";
  position:absolute;
  bottom:-40px;
  left:50px;
  border-width:0 20px 40px 0px;
  border-style:solid;
  border-color:transparent #5a8f00;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.delete {
  position: absolute;
   width: 50px;
   left: 60%;
}

.commentheading {
  position:relative;
  padding:0;
  color:#b513af;
  margin-left: 29px;
}

/* creates the rectangle */
.commentheading:before {
  content:"";
  position:absolute;
  top:9px;
  left:-25px;
  width:15px;
  height:10px;
  background:#b513af;
  /* css3 */
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

/* creates the triangle */
.commentheading:after {
  content:"";
  position:absolute;
  top:15px;
  left:-19px;
  border:4px solid transparent;
  border-left-color:#b513af;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}